name: Keycloak FranceConnect tags

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: Set current version
        run: mvn -B versions:set -DnewVersion=${GITHUB_REF##*/}

      - name: Build with Maven
        run: mvn -B clean verify

      - name: Upload jar
        uses: actions/upload-artifact@v2
        with:
          name: jar
          path: target/*.jar

  release:
    needs: build
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Checkout artifact
        id: download
        uses: actions/download-artifact@v2
        with:
          name: jar
          path: target

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: |
            ${{github.event.head_commit.message}}
          draft: false
          prerelease: false

      - name: Upload Release javadoc
        id: upload-release-javadoc
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./target/keycloak-franceconnect-${{ steps.get_version.outputs.VERSION }}-javadoc.jar
          asset_name: keycloak-franceconnect-${{ steps.get_version.outputs.VERSION }}-javadoc.jar
          asset_content_type: jar

      - name: Upload Release sources
        id: upload-release-sources
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./target/keycloak-franceconnect-${{ steps.get_version.outputs.VERSION }}-sources.jar
          asset_name: keycloak-franceconnect-${{ steps.get_version.outputs.VERSION }}-sources.jar
          asset_content_type: jar

      - name: Upload Release
        id: upload-release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./target/keycloak-franceconnect-${{ steps.get_version.outputs.VERSION }}.jar
          asset_name: keycloak-franceconnect-${{ steps.get_version.outputs.VERSION }}.jar
          asset_content_type: jar
